
<div class="row">
<div class='col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center'>
  <div class="card">
  <img class="card-img-top" src ='<%= image_url @exam.banner_image_url %>'>
    <div class="card-block">
      <h1><%= @exam.title %></h1>
      <h1></h1>  
      <h1></h1>
      <h4><%= @exam.body %></h4>
      <h1></h1>
      <h1></h1>
      <p><%= @exam.desciption %></p>      
    </div>    
  </div>
</div>
</div>



<%= link_to 'Editar', edit_exam_path(@exam) %> | 
<%= link_to 'Volver', exams_path %>
